<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" verbose="5" thread-count="3"
	parallel="classes">

	<listeners>
		<listener
			class-name="com.ridecell.reports.ExtentReporterNG"></listener>
	</listeners>

	<test name="Testing">
		<!-- <groups> <run> <exclude name = "Functionality" /> </run> </groups> -->

		<classes>
			<class name="com.ridecell.testcases.RepositoryFetching">

				<!-- methods> <include name=""> </include> </methods -->

			</class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
